---
name: Group Verification/New Group Creation
about: Verification is now self-service! See "Group Verification" when logged in to Clojars.
---

Verification is now self-service, so you no longer need to file this issue to verify a group! See ["Group Verification"](https://clojars.org/verify/group) when logged in to Clojars. 


