---
name: Group Verification
about: Requesting verification of a new or existing group name
---

I am requesting verification of a [new | existing] group. The group name is: 

