---
name: Group Verification/New Group Creation
about: Requesting verification of a new or existing group name
---

<!--

Thanks for getting in touch to verify your group name! Please read
https://github.com/clojars/clojars-web/wiki/Verified-Group-Names to
understand how group verification works.

There is a checklist below that needs to be completed before we can
verify, but if you aren't able to complete those items or have
questions about the process, feel free to create the issue anyway and
we'll see if we can figure it out together.

-->

I am requesting verification of a [new | existing] group. The group name is: 

- [ ] This group is a [reverse-domain-based group](https://github.com/clojars/clojars-web/wiki/Verified-Group-Names#faq)
- [ ] I have added a TXT DNS record for the domain that has a value of `clojars <your clojars username>`


